:root {
  /* Fonts */

  --general-text-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* Colors */

  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --black-logo-color: #000000;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --address-contacts-color: rgba(255, 255, 255, 0.6);
  --potrfolio-border-color: #eeeeee;
  --header-border-color: #ececec;
}
/* тимчасова візуалізація  */
/* * {
  outline: 1px solid blue;
}
header .container {
  background: rgb(49, 145, 73);
}
.hero .container {
  background: rgb(158, 158, 20);
}
.features .container {
  background: rgb(209, 135, 135);
}
.employment .container {
  background: rgb(147, 181, 233);
}
.team .container {
  background: rgb(211, 60, 198);
}
.footer .container {
  background: rgb(216, 136, 45);
}
.portfolio .container {
  background: rgb(45, 216, 96);
} */

/* General properties */

body {
  font-family: var(--general-text-font);
  font-style: normal;
  background-color: var(--white-text-color);
  color: var(--primery-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero-button,
.filter-button {
  font-family: 'Roboto';
  font-style: normal;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

/* Лого */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}

.navigation .logo {
  margin-right: 93px;
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: var(--white-text-color);
}

/* Навігація сайту */

header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
}

.header-content,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list .link.current {
  color: var(--accent-color);
}

.navigation-list .link {
  color: var(--secondary-text-color);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-content .email {
  margin-right: 50px;
}

.header-content {
  justify-content: space-between;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

/* Контакти + Підвал */

.email,
.telnumber {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.address p,
.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--address-contacts-color);
}

.footer .container,
.address {
  display: flex;
  flex-direction: column;
}

.address p {
  margin-bottom: 9px;
  color: var(--white-text-color);
}

.address .email {
  margin-bottom: 9px;
}

.email:hover,
.telnumber:hover,
.email:focus,
.telnumber:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background: var(--third-background-color);
}

/* Мейн */

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  text-align: center;
  background: var(--third-background-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Наші особливості */

.features-list {
  display: flex;
}

.features.section {
  padding-bottom: 0px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item {
  width: 270px;
}

.features-item p {
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* Наша зайнятість + Команда */

.employment-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employment-item,
.employment-list,
.team-list {
  display: flex;
}

.employment-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background: var(--secondary-background-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item img {
  margin-bottom: 30px;
}
.team-item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-work {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Портфоліо */
/*  */
.filter-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 612px;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--secondary-background-color);
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-title {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  align-content: flex-start;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}
/*  */
.portfolio-item {
  background: var(--white-text-color);
  border-bottom: 1px solid var(--potrfolio-border-color);
}

.portfolio-item div {
  padding: 20px 24px;
}
/* ===== Костилі ===== */
.portfolio-item img {
  display: flex;
}
